<!DOCTYPE HTML>
<html>
<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-products-grid-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->
<head>
    <meta charset="utf-8">
    <title>Stepz</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css" />
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.css">

 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 
 <!-- Animate.css -->
 <link rel="stylesheet" href="css/animate.css">
 <!-- Icomoon Icon Fonts-->
 <link rel="stylesheet" href="css/icomoon.css">
 <!-- Ion Icon Fonts-->
 <link rel="stylesheet" href="css/ionicons.min.css">
 <!-- Bootstrap  -->
 <link rel="stylesheet" href="css/bootstrap.min.css">

 <!-- Magnific Popup -->
 <link rel="stylesheet" href="css/magnific-popup.css">

 <!-- Flexslider  -->
 <link rel="stylesheet" href="css/flexslider.css">

 <!-- Owl Carousel -->
 <link rel="stylesheet" href="css/owl.carousel.min.css">
 <link rel="stylesheet" href="css/owl.theme.default.min.css">
 
 <!-- Date Picker -->
 <link rel="stylesheet" href="css/bootstrap-datepicker.css">
 <!-- Flaticons  -->
 <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

 <!-- Theme style  -->
    <body>
        <div class="colorlib-loader"></div>

        <div id="page">
            <nav class="colorlib-nav" role="navigation">
    
                    <%-include('../../partials/user-header')%>
    
                <div class="sale">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 offset-sm-2 text-center">
                                <div class="row">
                                    <div class="owl-carousel2">
                                        <div class="item">
                                            <div class="col">
                                                <h3><a href="#">25% off (Almost) Everything! Use Code: Summer Sale</a></h3>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col">
                                                <h3><a href="#">Our biggest sale yet 50% off all summer shoes</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <aside id="colorlib-hero">
                <div class="flexslider">
                    <ul class="slides">
                        <% for(i = 0; i < banner.length; i++) { %>
                        <li class="slider-items" style="background-image: url(/uploads/banner/<%=banner[i].image%>)">
                            <div class="overlay"></div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-6 offset-sm-3 text-center">
                                        <div class="slider-text-inner">
                                            <div class="desc">
                                                <h1 class="head-1 mt-5 text-white font-weight-bold animate-from-bottom-to-top"><%= banner[i].title %></h1>
                                                <h2 class="head-2 animate-from-bottom-to-top"></h2>
                                                <h2 class="head-3 text-white animate-from-bottom-to-top"><strong class="font-weight-bold">50%</strong> Off</h2>
                                                <% const descriptionWords = banner[i].description.split(' '); %>
                                                <% const truncatedDescription = descriptionWords.slice(0, 2).join(' '); %>
                                                <% const remainingDescription = descriptionWords.slice(2).join(' '); %>
                            
                                                <h2 class="category">
                                                    <span class="fs-1">
                                                        <h3 class="animate-from-bottom-to-top text-white"style="font-weight: normal;"><%= truncatedDescription %></h3>
                                                    </span>
                                                    <span class="fs-1" style="font-weight: normal;">
                                                        <h3 class="animate-from-bottom-to-top text-white"><%= remainingDescription %></h3>
                                                    </span>
                                                </h2>
                                                <p><a href="/brand/<%= banner[i].link %>" class="btn btn-primary animate-from-bottom-to-top">Shop Collection</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </aside>
            
            <style>
                /* Define the animation */
                @keyframes animate-from-bottom-to-top {
                    0% {
                        transform: translateY(50%);
                        opacity: 0;
                    }
                    100% {
                        transform: translateY(0);
                        opacity: 1;
                    }
                }
            
                /* Apply animation to elements with the animate-from-bottom-to-top class */
                .animate-from-bottom-to-top {
                    animation: animate-from-bottom-to-top 1s ease-in-out;
                }
            </style>
            
            
            
            <style>
                #colorlib-hero {
    height: 477px;
    background: #fff url(../images/loader.gif) no-repeat center center;
    width: 100%;
    float: left;
    z-index: 0;
}
                  .slider-items {
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 100%;
        max-height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

            </style>
      
            <body>
                <div class="colorlib-product">
                    <div class="container">
                        <div class="row">
                            <%-include('../../partials/products-aside')%>
                         
                            <div class="col-lg-9 col-xl-9">
                                <form class="input-group" action="/search">
                                    <input id="filterItem" type="text" name="search" class="form-control" placeholder="Search name">
                                    <button id="filterItems" class="btn btn-light bg mb-3" type="submit"> <i class="material-icons md-search"></i></button>
                                </form>
  
                                  <div class="row row-pb-md">
                                    <%if(products.length==0){%>
                                        <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
                                            <img src="/images/noproduct.png" alt="Product Not Found" style="height: 60%; width: 60%;">
                                          </div>
                                          
                                        <%}else{%>
                                    <% for (let i = 0; i < products.length; i++) { %>
                                      <div class="col-lg-4 mb-4 text-center">
                                        <div class="product-entry border">
                                          <a href="/product-display?id=<%= products[i]._id %>" class="img-wrap PROD-IMG">
                                            <img src="/uploads/products/<%= products[i].image[0] %>" style="height: 250px; width: 250px;" alt="Product">
                                          </a>
                                          <div class="desc">
                                            <h2 class="mb-0"><%= products[i].name %></h2>
                                            <div class="price"> 
                                              ₹ <%= products[i].saleprice %> &nbsp; &nbsp;
                                              <strike class="product_discount"> 
                                                <span style='color:black'>₹ <%= products[i].regularprice %></span>
                                              </strike>
                                            </div>
                                            <% if (isLoggedIn) { %>
                                              <b onclick="(addtoCart('<%= products[i]._id %>'))" class="btn btn-sm btn-brand rounded ml-5 mr-5">
                                                Add to Cart
                                              </b>
                                            <% } %>
                                            <div class="description mt-2">
                                              <% const words = products[i].description.split(' '); %>
                                              <% const truncatedDescription = words.slice(0, 7).join(' '); %>
                                              <%= truncatedDescription %>...
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    <% } %>

                                  </div>
                                  <% if (totalPages) { %>
                                    <div class="pagination">
                                      <% if (currentPage > 1) { %>
                                        <button><a href="?page=<%= currentPage - 1 %>">Previous</a></button>
                                      <% } %>
                                  
                                      <% for (let i = 1; i <= totalPages; i++) { %>
                                        <button><a href="?page=<%= i %>" class="<%= i === currentPage ? 'active' : '' %>"><%= i %></a></button>
                                      <% } %>
                                  
                                      <% if (currentPage < totalPages) { %>
                                        <button><a href="?page=<%= currentPage + 1 %>">Next</a></button>
                                      <% } %>
                                    </div>
                                  <% } %>
                                  <%}%>
                            </div>
                        </div>
                    </div>
                </div>
            </body>     
                        </div>
                        <div class="col-lg-9 col-xl-9">
                            <div class="row row-pb-md">
                              </div>
                    </section>
                </div>
            </div>

            <%-include('../../partials/user-footer')%>

    </body>
    <script>
        function addtoCart(proId){
                                           var quantity=1
                                           var size='small'
                                           $.ajax({
                                                url:`/cart?id=${proId}`,
                                                method:'post',
                                                data:{
                                                   quantity:quantity,
                                                   size:size
                                                },
                                                success:(response)=>{
                                                   if (response.status === true) {
                                                       Swal.fire({
                                                         title: 'Added to Cart!',
                                                         text:'Continue Shopping',
                                                         icon: 'success',
                                                         timer: 3000, 
                                                         showConfirmButton: false 
                                                       })
                                                   }else if(response.status==="outOfStock"){
                                                    Swal.fire({
                                                    title: 'Stock!!',
                                                    text: "the products is out of stock",
                                                    icon: 'fail',
                                                    timer: 5000
                                                })
                                                   }else{
                                                       alert("Error ocured")
                                                   }
                                                }
                                           })
                                       }

                                       function brand(name){
                                        $.ajax({
                                            url:'/brand',
                                        method:"post",
                                        data:{
                                            name:name
                                        }
                                        })
                                       }
   </script>
   
    <style>
.side ul li{
    margin-top: 5%;
}
.side ul li:hover {
    background-color: rgb(223, 222, 222); /* Change to your desired background color on hover */
    border-radius: 6%;
    color:black; /* Change to your desired text color on hover */
}


element.style {
}
hr:not([size]) {
    height: 0px;
}
hr:not([size]) {
    height: 1px;
}
hr {
    margin-top: 0rem;
    margin-bottom: 0rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

        /* Add your global styles here */

        /* Media Query for small screens */
        @media (max-width: 768px) {
            .col-lg-3 {
                flex: 100%;
                max-width: 100%;
                padding: 10px;
            }

            .col-lg-9 {
                flex: 100%;
                max-width: 100%;
                padding: 10px;
            }
        }
        .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 6px 12px;
  margin: 0 3px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.pagination button.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.pagination button:hover {
  background-color: #ddd;
}

    </style>
</head>

    
    <!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-products-grid-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->
    </html>
   
	<!-- jQuery -->
	<script src="/js/jquery.min.js"></script>
   <!-- popper -->
   <script src="/js/popper.min.js"></script>
   <!-- bootstrap 4.1 -->
   <script src="/js/bootstrap.min.js"></script>
   <!-- jQuery easing -->
   <script src="/js/jquery.easing.1.3.js"></script>
	<!-- Waypoints -->
	<script src="/js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="/js/jquery.flexslider-min.js"></script>
	<!-- Owl carousel -->
	<script src="/js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<script src="/js/magnific-popup-options.js"></script>
	<!-- Date Picker -->
	<script src="/js/bootstrap-datepicker.js"></script>
	<!-- Stellar Parallax -->
	<script src="/js/jquery.stellar.min.js"></script>
	<!-- Main -->
	<script src="/js/main.js"></script>
	</body>
